{%- set site_title = "Sunny's Project" -%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sunny's Project">
    <meta name="author" content="Sunny">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>{{ zh_title }} | {{ site_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap5/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap5/fontawesome6.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}?{{ nowid }}">
</head>

<body>
    <div class="signin">
        {% block content %}{% endblock %}
        <div class="container text-center">
            <div class="row">
                <div class="offset-md-1 col-md-10 links">
                    <ul>
                        <li><a target="_blank" href="/word_test/abc_word"><i class="fa-solid fa-pen-to-square"></i> 單字測驗</a></li>
                        <li><a target="_blank" href="/stock"><i class="fa-solid fa-hand-sparkles"></i> 掌聲股利</a></li>
                        {% block switch_link %}{% endblock %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="offset-md-1 col-md-10 copyright">
                    &copy; {{ cyear }} {{ site_title }}
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='bootstrap5/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap5/bootstrap.bundle.min.js') }}"></script>
    <!-- https://github.com/emn178/js-sha256 -->
    <script src="{{ url_for('static', filename='js/sha256.min.js') }}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
