{% extends 'base-stock.html' %}
{%- set is_user = 1 -%}
{%- set html_title = '委託下單' -%}
{%- set en_title = 'Entrust Orders' -%}
{%- set zh_title = '委託下單' -%}
{%- set jumbotron_class = 'jumbotron-stock' -%}

{%- block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap5/bootstrap-select.min.css') }}?{{nowid}}">
{%- endblock %}

{% block content %}
    <div id="sec00"></div>
    <section class="section-topic">
        <h2 class="text-primary">{{ zh_title }}
            <small>
                <span id="stitle" class="text-dark"></span>
                <span id="sprice" class="text-primary"></span>
                <small>
                    <span id="spercent" class="text-dark"></span>
                </small>
            </small>
        </h2>
        <hr>

        <div class="row btn-block">
            <div class="col-lg-2 mb-3">
                <div class="form-group">
                    <select class="form-control-lg selectpicker" id="selStock" name="selStock" data-live-search="true">
                        <option value="" disabled selected>股票代碼</option>
                        {%- for stock_id, stock_info in list_stocks.items() %}
                        <option value="{{ stock_id }}">{{ stock_id }} {{ stock_info['name'] }}</option>
                        {%- endfor %}
                    </select>
                      
                </div>
            </div>
            <div class="col-lg-2 mb-3">
                <div class="form-group">
                    <button type="button" id="btnFetch" class="btn btn-lg btn-primary">現價
                        <span class="spinner-border spinner-border-sm d-none"></span>
                    </button>
                </div>
            </div>
            <div class="col-lg-3 text-center p-1">
                <div class="form-group">
                    <div class="col-xs-6 form-check form-check-inline block-buy">
                        <input type="radio" name="radOption" id="radOption1" value="buy" checked>
                        <label class="form-check-label label-buy" for="radOption1">買進</label>
                    </div>
                    <div class="col-xs-6 form-check form-check-inline block-sell">
                        <input type="radio" name="radOption" id="radOption2" value="sell">
                        <label class="form-check-label label-sell" for="radOption2">賣出</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 mb-3">
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="txtLots" placeholder="張數" value="1" onfocus="select();">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <button type="button" id="btnEntrust" class="btn btn-lg btn-dark">下單
                        <span class="spinner-border spinner-border-sm d-none"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-3">
                <strong>目前餘額</strong> <span id="balance" class="text-primary"></span>
            </div>
            <div class="col-lg-3">
                <strong id="estOption"></strong> <span id="estMoney"></span>
            </div>
        </div>
        <br>
        <hr>

        <!-- 庫存明細 -->
        <h2 class="text-primary">庫存明細 
            <small class="text-muted">Inventory</small>
        </h2>
        <div class="row btn-block">
            <div class="col-lg-2 mb-3">
                <button type="button" id="btnRefresh" class="btn btn-lg btn-primary">更新庫存
                    <span class="spinner-border spinner-border-sm d-none"></span>
                </button>
            </div>
        </div>
        <table id="tableInventory" class="table table-inventory table-sm table-hover table-bordered">
            <thead class="table-dark text-center">
                <tr>
                    <th>股票代碼<br>Symbol</th>
                    <th>簡稱<br>Name</th>
                    <th>庫存<br>Inventory</th>
                    <th>買進均價<br>Mean Cost</th>
                    <th>現價<br>Current Price</th>
                    <th>預估損益<br>Estimated P&amp;L</th>
                    <th>預估報酬率<br>Estimated ROI</th>
                </tr>
            </thead>
            <tbody class="text-center">
            </tbody>
        </table>
    </section>
{% endblock %}

{%- block extra_js %}
    <script src="{{ url_for('static', filename='js/stock-entrust.js') }}?{{ nowid }}"></script>
    <script src="{{ url_for('static', filename='bootstrap5/bootstrap-select.min.js') }}?{{ nowid }}"></script>
    <script src="{{ url_for('static', filename='bootstrap5/defaults-zh_TW.min.js') }}?{{ nowid }}"></script>
{% endblock -%}